
/* debut barre de navigation*/
#liste_navigation{
    list-style: none;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
}

#cadre_navigation{
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background: rgb(6,134,208);
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    border-radius: 5px;

}

#cadre_navigation li{
    height: auto;
    width: 150px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 14px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
}
#cadre_navigation a{
    padding: 18px 0;

    text-decoration: none;
    color: white;
    display: block;
}
#cadre_navigation li ul{
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}
#cadre_navigation li:hover ul{
    display: block;
}

#cadre_navigation li ul li {
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    border-radius: 5px;
}

#language {
    float: right;
}

#cadre_navigation li ul li a:hover {
    background-color: #a3a1a1;
    border-radius: 5px;
}
#cadre_navigation .elements_li a:hover {
    background-color: #a3a1a1;
    border-radius: 5px;
}
/*Fin barre de navigation*/

body{
    background: rgb(176,158,137);
    background: linear-gradient(90deg, rgba(176,158,137,1) 0%, rgba(221,196,168,1) 19%, rgba(241,218,189,1) 49%, rgba(221,196,168,1) 85%, rgba(176,158,137,1) 100%);


}

/* partie image a revoir*/
#image-presentation{
    width: 300px;
    height: 300px;
}
/* partie image centrale*/
#grande-image {
    width: 80%;
    height: 200px;
    margin: 2% 10% 2% 10%;
    border: 2px solid black;
    border-radius: 50px;
}
/* fin partie image centrale*/

p {
    color: white;
}

#texte-presentation{

}

.structure{
    width: 80%;
    margin: 2% 10% 5% 10%;

}

#texte-presentation{
    padding: 2%;
    background-color: #ffbd59;
    border-radius: 5px;
    box-shadow: 2px 2px 12px dimgrey;
}
#texte-presentation p {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-indent: 4%;
}

#texte-presentation a{
    text-decoration: none;
    color: black;
}

#texte-presentation a:hover{
    text-decoration: none;
    color: blue;
}

#texte-introduction{
    border: 2px solid ;
    background: rgb(6,134,208);
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    border-radius: 5px;
    padding-left: 10px;
}

.cadre-petit{
    border: 2px solid ;
    background: rgb(6,134,208);
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 12px dimgrey;
}

.cadre-grand{

    padding: 2%;
    background: rgb(233,181,101);
    background: linear-gradient(90deg, rgba(233,181,101,0.8239670868347339) 0%, rgba(222,169,91,0.896796218487395) 19%, rgba(236,188,115,0.9192051820728291) 49%, rgba(222,169,91,0.8995973389355743) 85%, rgba(233,181,101,0.8267682072829132) 100%);
    border-radius: 5px;
    box-shadow: 2px 2px 12px dimgrey;
}

.petite-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cadre-presentation{
    position: relative;
    display: inline-flex;
    text-align: left;
    width: 100%;
}
.cadre-presentation span{
    margin-right: 25px;
}
.logo-uspn{
    width: 200px;
    height: 100px;
}
.cadre-presentation .c-logo-uspn {
    display: flex;
    align-self: center;
    margin-left: auto;
}


.structure .cadre-grand p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-style: italic;
    text-indent: 30px;
    color: #4e4a43;
}
.structure .cadre-grand h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

.structure .cadre-grand .cadre-presentation span p {
    font-family: Calibri;
    font-size: 15px;
    font-style: italic;
}

.structure .cadre-grand .cadre-presentation span h3 {
   text-decoration: underline;
}

#video{
    height: 650px;

}

#premier{
    margin-top: 0px;
}

#bandeau{
    width: 80%;
    margin: 7% 10% 0% 10%;
    height: 250px;
}
#s-intro{
    margin-top: 0%;
}

footer{
    height: 150px;
    background: rgb(6,134,208);
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 12px dimgrey;
}

#noms_dans_footer{

    text-align: center;
    width: 70%;
}

.navigation_entre_page{
    width: 80%;
    margin: 2% 10% 3% 10%;
    height: 70px;
}
.navigation_entre_page .b{
    background: rgb(6,134,208);
    background: radial-gradient(circle, rgba(6,134,208,1) 56%, rgba(8,155,226,1) 100%);
    height: 70px;
    width: 250px;
    border-radius: 50px;
    font-size: 17px;
}
.navigation_entre_page .b:hover {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.4822303921568627) 0%, rgba(50,140,247,1) 100%);
    font-size: 20px;
    box-shadow: 2px 2px 12px dimgrey;
}

.navigation_entre_page #b1{
    float: left;
}

.navigation_entre_page #b2{
    float: right;
}
.navigation_entre_page #b3{
    float: left;
}

.navigation_entre_page #b4{
    float: right;
}

#texte-presentation center {
    font-family: Calibri;
    font-size: 25px;
    font-style: italic;
}

#bas_de_page{
    display: inline-flex;
    width: 100%;
    position: relative;
    text-align: left;
}

#bas_de_page .c-logo-uspn{
    margin-top: 20px;
    margin-left: 10%;
}

#noms_dans_footer span {
    margin: 10% 3% 2% 3% ;
    font-style: italic;
    font-size: 17px;
}